body, html {
    background-color: var(--VERY_DARK_BLUE_MAIN_BG);
    height: 100%;
    font-family: "Outfit", snas-serif;
    line-height: 26px;
    font-weight: var(--REGULAR);
}

#root {
    height: 100%;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.heading {
    font-size: 22px;
    font-weight: var(--SEMI-BOLD);
}