@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  display: border-box;
}

:root {
  --SOFT_BLUE: rgb(139, 172, 217);
  --WHITE: rgb(255, 255, 255);
  --CYAN: rgb(0, 255, 248);
  --VERY_DARK_BLUE_MAIN_BG: rgb(13, 25, 44);
  --VERY_DARK_BLUE_CARD_BG: rgb(21, 38, 63);
  --VERY_DARK_BLUE_LINE: rgb(46, 64, 90);
  --REGULAR: 300;
  --SEMI-BOLD: 400;
  --BOLD: 600;
}